@page
@model CredentialsDetailsModel

<div class="main">
    <h1>Public Key Credentials</h1>

    @if (Model.CredentialId == null || Model.CredentialId.Length == 0)
    {
        <div class="section">
            <div class="alert alert-warning">
                No public key credential details are available. Please sign in first.
            </div>
        </div>
    }
    else
    {
        <div class="details-grid">
            <div class="details-row">
                <div class="details-label">Username</div>
                <div class="details-value">
                    @Model.UserName
                </div>
            </div>
            <div class="details-row">
                <div class="details-label">Display name</div>
                <div class="details-value">
                    @Model.UserDisplayName
                </div>
            </div>
            <div class="details-row">
                <div class="details-label">Time of creation (UTC)</div>
                <div class="details-value">
                    @Model.CreatedAt
                </div>
            </div>
            <div class="details-row">
                <div class="details-label">Time of last update (UTC)</div>
                <div class="details-value">
                    @Model.UpdatedAt
                </div>
            </div>
            <div class="details-row">
                <div class="details-label">Time of last use (UTC)</div>
                <div class="details-value">
                    @Model.LastUsedAt
                </div>
            </div>
        </div>
    }
</div>