@page
@model Shark.Fido2.Sample.Pages.CredentialsDetailsModel

<div class="main">
    <h1 class="mb-4 text-center">Credential Details</h1>

    @if (Model.CredentialId == null || Model.CredentialId.Length == 0)
    {
        <div id="credentials-details-container" class="section p-4">
            <div class="alert alert-warning">
                No public key credential details are available. Please sign in first.
            </div>
        </div>
    }
    else
    {
        <div id="credentials-details-container">
            <table class="details-table">
                <tr>
                    <td>Credential identifier</td>
                    <td>
                        <code>@Convert.ToBase64String(Model.CredentialId!)</code>
                    </td>
                </tr>
                <tr>
                    <td>User handle</td>
                    <td>
                        <code>@Convert.ToBase64String(Model.UserHandle)</code>
                    </td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td>
                        @Model.UserName
                    </td>
                </tr>
                <tr>
                    <td>Display name</td>
                    <td>
                        @Model.UserDisplayName
                    </td>
                </tr>
                <tr>
                    <td>Sign count</td>
                    <td>
                        @Model.SignCount
                    </td>
                </tr>
                <tr>
                    <td>Algorithm</td>
                    <td>
                        @Model.Algorithm
                    </td>
                </tr>
                @if (Model.Transports != null && Model.Transports.Any())
                {
                    <tr>
                        <td>Transports</td>
                        <td>
                            @string.Join(", ", Model.Transports)
                        </td>
                    </tr>
                }
                <tr>
                    <td>Time of creation (UTC)</td>
                    <td>
                        @Model.CreatedAt
                    </td>
                </tr>
                <tr>
                    <td>Time of last update (UTC)</td>
                    <td>
                        @Model.UpdatedAt
                    </td>
                </tr>
                <tr>
                    <td>Time of last use (UTC)</td>
                    <td>
                        @Model.LastUsedAt
                    </td>
                </tr>
            </table>
        </div>
    }
</div>